body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #EEE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    background-color: #FFF;
    color: #676565;
    padding-top: 24px;
    width: 100%;
    max-width: 742px;
}

.beige-color {
    background-color: #FEEED6;
    padding: 15px 0 13px;
}

.beige-color .container {
    overflow: hidden;
}

.container {
    padding: 0 20px;
}

.form-title h1 {
    margin-bottom: 6px;
    font-size: 29px;
    font-weight: 500;
}

.form-field {
    margin-bottom: 18px;
}

.form-field label {
    display: block;
    font-weight: 700;
    margin-bottom: 8px;
}

.input-field {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    border: none;
    font-family: inherit;
    font-size: inherit;
}

.input-field::placeholder {
    opacity: 0.7;
}

textarea.input-field {
    min-height: 112px;
    padding: 10px 12px;
    resize: vertical;
}

.callback-field {
    margin-bottom: 11px;
    color: #737373;
}

.submit-button {
    float: right;
    padding: 8px 12px;
    border: none;
    background-color: #378DB2;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0B5777;
}