body {
    color: #676565;
    background-color: #FFF;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 22px;
}

.course-page {
    background-color: #FEEED6;
    width: 100%;
    max-width: 747px;
    padding: 10px 15px;
    box-sizing: border-box;
}

.course-title {
    margin-bottom: 13px;
    font-size: 28px;
    line-height: 31px;
    font-weight: normal;
    text-transform: uppercase;
}

.course-subtitle {
    margin-top: 7px;
    font-size: 17px;
}

.text-blue {
    color: #378DB2;
    font-weight: bold;
}

.price-without-discount {
    text-decoration: line-through;
}

.course-text {
    margin-top: 8px;
    font-size: 15px;
    text-align: justify;
    text-indent: 1em;
}